<div *ngIf="getActiveTask()" class="container-fluid">
  <div>
    <p class="text-secondary text-center">Please wait for Fibonacci Jobs</p>
    <hr>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Start time</th>
        <th scope="col">Stop Time</th>
        <th scope="col">Details</th>
        <th scope="col">Result</th>
        <th scope="col">Processing time [ms]</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let job of getJobs(); let i = index" (click)="showMoreDetails(job)">
        <th scope="row">{{i + 1}}</th>
        <td>{{job.startTime}}</td>
        <td>{{job.stopTime}}</td>
        <td>{{job.jobDetails}}</td>
        <td class="pointer" *ngIf="detailedJobId !== job.jobId">{{job.jobResult.length > 100 ? job.jobResult.substr(0, 100) + '...' : job.jobResult}}</td>
        <td class="pointer full-result" *ngIf="detailedJobId === job.jobId">{{job.jobResult}}</td>
        <td>{{job.jobProcessingTime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
