<div *ngIf="getActiveTask()">
  <h2>Waiting for Fibonacci Jobs</h2>
  <div class="btn" *ngFor="let job of getJobs()" (click)="showMoreDetails(job)">
    <div><div class="title">start time:</div>{{job.stopTime}}</div>
    <div><div class="title">stop time:</div>{{job.startTime}}</div>
    <div><div class="title">details:</div>{{job.jobDetails}}</div>
    <div *ngIf="detailedJobId !== job.jobId"><div class="title">result:</div>{{job.jobResult.length > 100 ? job.jobResult.substr(0,100) + '...' : job.jobResult}}</div>
    <div class="txt" *ngIf="detailedJobId === job.jobId"><div class="title">result:</div>{{job.jobResult}}</div>
    <div *ngIf="job.jobProcessingTime !== null"><div class="title">processing time:</div>{{job.jobProcessingTime}} ms</div>
  </div>
</div>
