<div *ngIf="getActiveTask()" class="container-fluid">
  <div>
    <div class="progress">
      <div class="progress-bar bg-dark" [style.width]="getProgress() + '%'" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <table class="table mt-1">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Start time</th>
        <th scope="col">Stop Time</th>
        <th scope="col">Details</th>
        <th scope="col">Result</th>
        <th scope="col">Processing time [ms]</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let job of getJobs(); let i = index" (click)="showMoreDetails(job)">
        <th scope="row">{{i + 1}}</th>
        <td>{{job.startTime}}</td>
        <td>{{job.stopTime}}</td>
        <td>{{job.jobDetails}}</td>
        <td class="pointer" *ngIf="detailedJobId !== job.jobId">{{job.jobResult.length > 100 ? job.jobResult.substr(0, 100) + '...' : job.jobResult}}</td>
        <td class="pointer full-result" *ngIf="detailedJobId === job.jobId">{{job.jobResult}}</td>
        <td>{{job.jobProcessingTime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
