input {
  width: 7em;
  margin-left: 1px;
  margin-right: 1px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}
span {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  padding: 2px 4px;
  margin-right: 3px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  background-color: lightgray;
  border-color: grey;
  color: black;
}
